<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> ENCUESTAS</a>
    <button class="navbar-toggler" type="button">
      <a routerLink="/menu"><span class="navbar-toggler-icon"></span></a>
    </button>
  </nav>
</div>

<div class="flex-container row" >
  <div class="col-9 mb-4 col-md-3">
    <a routerLink="/encuestas"><button type="button" class="btn btn-outline-dark">Encuestas</button> </a>
  </div>
  <div class="col-9 mb-4 col-md-3">
    <a routerLink="/resultados"><button type="button" class="btn btn-outline-dark">Resultados</button> </a>
  </div>
  <div class="col-9 mb-4 col-md-3">
    <a routerLink="/acercade"><button type="button" (click)="acercade()" class="btn btn-outline-dark">Acerca de</button> </a>
  </div>
</div>


